.center {  
    text-align: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: 0 auto;   
}

.result {
    width: 15%;
    height: 15%;
    flex-shrink: 0;
    align-items: center; 
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    margin: auto;
}

canvas {
    display: inline;
}